---
import { SEO } from "astro-seo";
import { Image } from "astro:assets";
import { getCollection } from "astro:content";
import Rendra from "../../assets/Rendra.jpg";
import MainLayout from "../../layouts/MainLayout.astro";
import { getFormattedDate } from "../../utils/global";
import Share from "../../components/Share.astro";

export const getStaticPaths = async() => {
  const blogPosts = await getCollection("blog");

  return blogPosts.map((post) => ({
    params: { slug: post.slug },
    props: { post },
  }));
};

const { post } = Astro.props;
const { Content, remarkPluginFrontmatter } = await post.render();
---

<MainLayout title={post.data.title}>
	<SEO
		slot='seo'
		title={post.data.title}
		description={post.data.excerpt}
		twitter={{
			creator: "@rendrazuriansyah",
			card: "summary_large_image",
			image: post.data.image
		}}
		openGraph={{
			basic: {
				type: "website",
				title: post.data.title,
				image: post.data.image
			},
			image: {
				alt: 'Thumbnail'
			}
		}}
	/>

  <main class="mt-content">
    <div class="content-header">
      <h1>
        <!-- Title -->
        {post.data.title}
      </h1>
      <div class="meta">
        <div class="image">
          <Image src={Rendra} alt='Author' />
        </div>
        <div class="text">
          <p>
            <!-- Author -->
            {post.data.author}
          </p>
          <div>
            <time datetime={post.data.publishedAt}>
              {getFormattedDate(post.data.publishedAt)}
            </time>

            <span>&bull;</span>
            <p>{remarkPluginFrontmatter.minutesRead}</p>
          </div>
        </div>
      </div>
    </div>

		<!-- Social Button -->
		<Share />
		
    <div class="picture">
			<Image inferSize src={post.data.image} alt={post.data.image}/>
    </div>
    <div class="content">
			<Content />
    </div>
		
		<!-- Social Button -->
		<Share />

		<!-- Disqus Comment -->
		<div id="disqus_thread"></div>
  </main>
</MainLayout>

<script is:inline define:vars={{ PAGE_URL: Astro.url.href, PAGE_IDENTIFIER: post.slug }}>
	/**
	*  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
	*  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables    */
	
	var disqus_config = function () {
		this.page.url = PAGE_URL;  // Replace PAGE_URL with your page's canonical URL variable
		this.page.identifier = PAGE_IDENTIFIER; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
	};
	
	(function() { 
		// DON'T EDIT BELOW THIS LINE
		var d = document, s = d.createElement('script');
		s.src = 'https://astro-news-portal-rendra.disqus.com/embed.js';
		s.setAttribute('data-timestamp', +new Date());
		(d.head || d.body).appendChild(s);
	})();
</script>

<style>
	main {
		display: grid;
		grid-template-columns: repeat(1fr);
		max-width: 64rem;
		padding: 6rem 2rem;
		background-color: #fff;
		margin: 0 auto;
	}
	main .content-header {
		display: flex;
		flex-direction: column;
		align-items: center;
		text-align: center;
		margin: 0 auto;
	}
	main .meta {
		display: flex;
		font-size: 0.875rem;
		margin-top: 1rem;
		margin-bottom: 1rem;
	}
	main .meta > div {
		margin-right: 1rem;
	}
	main .meta .image {
		width: 52px;
		height: 52px;
		aspect-ratio: 1 / 1;
		overflow: hidden;
		flex-shrink: 0;
	}
	main .meta .image img {
		object-fit: cover;
		width: 100%;
		height: 100%;
		border-radius: 9999px;
	}
	main .meta .text {
		display: flex;
		flex-direction: column;
		align-items: start;
	}
	main .meta .text > p {
		font-size: 1.25rem;
		font-weight: 300;
		margin-bottom: 0;
	}
	main .meta .text div:last-child {
		display: flex;
		color: #737373;
	}
	main .meta .text div:last-child span {
		margin: 0 0.5rem;
	}
	main .content-header h1 {
		max-width: 768px;
	}
	main .picture {
		height: 500px;
		border-radius: 0.5rem;
	}
	main .picture img {
		width: 100%;
		object-fit: cover;
		height: 100%;
		border-radius: 0.5rem;
	}
	main #disqus_thread {
		margin-top: 4rem;
	}
	main .astro-social-share {
		background-color: aqua;
	}
</style>