---
import { getCollection } from "astro:content";
import MainLayout from "../layouts/MainLayout.astro";
import Card from "../components/Card.astro";

// getCollection
const blogPosts = await getCollection("blog");
// console.log(blogPosts);
---

<MainLayout title="Homepage">
	<h1>Homepage</h1>
	
	<!-- <h2>Slider Posts</h2>
	<ul>
		{
			blogPosts.filter((post) => post.data.isPinned).map((post) => (
				<li>
					<a href={`/blog/${post.slug}`}>{post.data.title}</a>
				</li>
			))
		}
	</ul> -->

	<main class="container mt-content">
		<div class="row row-cols-1 row-cols-md-3 g-4">
		{
			blogPosts.map((post) => (
				<div class="col">
					{/* <a href={`/blog/${post.slug}`}>{post.data.title}</a> */}
					<Card post={post} />
				</div>
			))
		}
		</div>
	</main>
</MainLayout>